# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules/
package-lock.json
yarn.lock
test/unit/coverage
test/e2e/reports
*.log
selenium-debug.log
.DS_Store
.idea

# production build
dist/

# nope
notes.md